@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Leon Robert<br />
    RomSoft developer<br />
    <abbr title="Phone">Phone:</abbr>
    0700.687.628
</address>

<address>
    <strong>Support:</strong> <a href="">Support@rms.com</a><br />
</address>
